# Process transporter data for use with DESeq2

Because statistical analysis of metagenomes may suffer due to genes with low abundance ([Jonsson et. al 2016](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4727335/)) we will filter transporters with an average read count <100. This is a tradeoff between producing trustworthy results and producing any results at all (because filtering at higher average read counts will remove too many transporters). In addition, the statistical analysis is performed on representative protein families for each transporter cluster. Representative families are selected by sorting by mean abundance across the samples.

In [1]:
import pandas as pd

Read selected transporters.

In [9]:
transinfo = pd.read_table("results/selected_transporters_classified.tab", header=0, sep="\t", index_col=0)

Read raw counts for transporters (calculated from representative protein families).

In [19]:
mg_trans_reps = pd.read_table("results/mg/rep_trans.raw_counts.tsv", header=0, sep="\t", index_col=0)
mt_trans_reps = pd.read_table("results/mt/rep_trans.raw_counts.tsv", header=0, sep="\t", index_col=0)

Intersect with the selected transporters.

In [25]:
mg_select_trans_reps = mg_trans_reps.reindex(transinfo.index)
mt_select_trans_reps = mt_trans_reps.reindex(transinfo.index)

## Read sample groups for datasets.

### Metagenome

In [12]:
mg_groups = pd.read_csv("results/mg/samplegroups.tab", header=0, sep="\t",index_col=0)
mg_groups.rename(index=lambda x: str(x),inplace=True)
mg_groups

                 Group
120314  pre/post-bloom
120322  pre/post-bloom
120328    spring-bloom
120403    spring-bloom
120416    spring-bloom
120419    spring-bloom
120423    spring-bloom
120516  pre/post-bloom
120531    early-summer
120604  pre/post-bloom
120613    early-summer
120619    early-summer
120628    early-summer
120705            fall
120709          summer
120717          summer
120802          summer
120806          summer
120813          summer
120820          summer
120823            fall
120828            fall
120903            fall
120920          winter
121001          winter
121004          winter
121015            fall
121022            fall
121105          winter
121128          winter
121220          winter

### Metatranscriptome

In [13]:
mt_groups = pd.read_csv("results/mt/samplegroups.tab", header=0, sep="\t",index_col=0)
mt_groups.rename(index=lambda x: str(x),inplace=True)
mt_groups

                      Group
120712  spring/early-summer
120813                 fall
120927                 fall
121024                 fall
121220               winter
130123               winter
130226               winter
130403               winter
130416  spring/early-summer
130422  spring/early-summer
130507  spring/early-summer
130605  spring/early-summer
130815               summer
131003                 fall
140408  spring/early-summer
140506  spring/early-summer
140604               summer
140820               summer

## Filter out transporters with low coverage.

In [15]:
threshold = 100

In [35]:
mg_select_trans_reps_filt = mg_select_trans_reps.loc[mg_select_trans_reps.mean(axis=1)>=100]
mg_select_trans_reps_filt.to_csv("results/mg/rep_trans_filt.raw_counts.tsv", sep="\t")
print("{} transporters remaining after filtering".format(len(mg_select_trans_reps_filt)))

37 transporters remaining after filtering

In [34]:
mt_select_trans_reps_filt = mt_select_trans_reps.loc[mt_select_trans_reps.mean(axis=1)>=100]
mt_select_trans_reps_filt.to_csv("results/mt/rep_trans_filt.raw_counts.tsv", sep="\t")
print("{} transporters remaining after filtering".format(len(mt_select_trans_reps_filt)))

22 transporters remaining after filtering